<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/common.css">
    <title>Quran Desktop 2.0</title>
</head>
<body>
    <div class="container">
        <div class="surahs">
            <h2 style="margin: 10px;">Surahs</h2>
            <p class="text-muted small">Quran Desktop by twl94</p>
        </div>
        <div class="quran-displayer">
            <div class="info">
                <h1>Quran Desktop 2.0</h1>
                <p class="text-muted" style="margin-top: 10px;">
                    Assalamualaikum Warahmatulahi Wabarakatuhu! <br><br>
                    Thank you for using Quran Desktop 2.0! This program is an open source program<br>
                    You can read or listen to the Quran by selecting the surah you want from the list of surahs next to it!<br><br>
                    <h3 class="text-muted">Special Thanks</h3>
                    <ol style="padding-left: 20px;">
                        <li>Quran Data used: https://github.com/renomureza/quran-api-id/</li>
                    </ol>
                    <br><br>
                </p>
            </div>
            

        </div>
    </div>
    

    <script src="./js/changeSurah.js"></script>
    <script src="./js/getSurahs.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>