<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/common.css">
    <title>Quran Desktop 2.0</title>
</head>
<body>
    <div class="container">
        <div class="surahs">
            <h2 style="margin: 10px;">Surahs</h2>
            <p class="text-muted small">Quran Desktop by twl94</p>
        </div>
        <div class="quran-displayer">
            <div class="info">
                <h1>Quran Desktop 2.0</h1>
                <p class="text-muted">
                    Thank you for using Quran Desktop 2.0! This program is an open source program<br>
                    You can read or listen to the Quran by selecting the surah you want from the list of surahs next to it!<br><br>
                    - by twl94
                    <br><br>

                    <button>Go to GitHub</button>
                </p>
            </div>
            

        </div>
    </div>
    

    <script src="./js/changeSurah.js"></script>
    <script src="./js/getSurahs.js"></script>
</body>
</html>